.cartBtn{
  position: relative;
}

.cartBtn__count{
  position: absolute;
  bottom: -7px;
  right: -7px;
  border-radius: 100px;
  width: 20px;
  height: 20px;
  font-size: 14px;
  display: inline-block;
  background-color: red;
  color: #FFF;
}